@(loginform: Form[Application.Login]) 

@import helper.twitterBootstrap._

@main("Welcome to Wanda.com") {

<div class="container" id="loginModal">
	<div class="modal-header">
		<h3>Login to have fun</h3>
	</div>
	<div class="modal-body">
		<div class="well">
			<div id="myTabContent" class="tab-content">
						
				@helper.form(action = routes.Application.authenticate, 'class -> "form-horizontal") {
					<fieldset>
						
						@if(loginform.hasGlobalErrors) {
							<p class="alert alert-warning">@loginform.globalError.message</p>
						}
						@if(flash.contains("success")) {
							<p class="alert-success">@flash.get("success")</p>
						}
						
						<!-- Username -->
						@helper.inputText(loginform("email"), 'type -> "email", 'class->"input-xlarge", '_label -> "Email")

						<!-- Password-->
						@helper.inputPassword(loginform("password"), 'class->"input-xlarge", '_label -> "Password")
						
						<!-- Button -->
						<button class="btn btn-success" type="submit">Login</button>&nbsp; New user? &nbsp;
								<a href="@routes.UserService.register">Register a new account!</a>
					</fieldset>
				}
			</div>
		</div>
	</div>

</div>
<!-- /container -->

}
